<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pruebas de Software</title>
</head>
<body>

<div class="header">PRUEBAS <br>DE <br>SOFTWARE</div>
<div class="subheader">Challenges with <br>integration tests</div>
<div class="option"> Select a Challenge</div>

<div class="button-container">
  <button class="button" (click)="navegar1A()">1A ></button>
  <button class="button" (click)="navegar3A()">3A ></button>
  <button class="button" (click)="navegar5A()">5A ></button>
</div>
<router-outlet></router-outlet>
</body>
</html>
